body {
    font-family: "Calibri";

    border: 1px solid gray;
}

header {
    background-color: #822C91;
    padding: 3%;
    text-align: center;
}

.welcome {
    padding: 5vw;
    background: linear-gradient(rgba(86, 29, 96, 0.3), rgba(86, 29, 96, 0.5)), url(imgs/pc.jpg);
    background-size: cover;
    font-size: 5vw;
    color: white;
    text-align: center;
}

footer {
    padding: 1%;
    text-align: center;
}


content {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


content #btn{
    border: solid;
    margin-right:  auto;
    margin-bottom: 15px;


}

content div {
    border: solid;
    display: flex;
    flex-flow: row wrap;
    background-color: #D5C1D8;
    width: 40%;
    margin: 1%;
    padding: 1%;
}

content p {
    width: 60%;
    margin: 1%;
    font-size: 2vw;
}

content img {
    width: 35%;
    height: 14vw;
    margin: 1%;
}

content input {
    cursor: pointer;
    float: left;
    font-size: 3vw;
    background-color: #A5D6CF;
    border: 2px solid gray;
    border-radius: 8px;
    width: 30%;
    height: 20%;
    /* margin-left: auto; */
    margin-top: auto;
    padding: 0;
    outline: none; 
}

content h1 {
    font-size: 80px;
    color: red;
    display: flex;
    margin-top: 5%;
    margin-bottom: 0;
    margin-right: 100px;
}

content .ii {
    margin-top: 10%;
    width: 4vw;
    height: 3.5vw;
}



