* {/* reset */
    padding: 0;
    margin: 0;
}


article { /* set image in article block */
  background: linear-gradient(rgba(86, 29, 96, 0.3), rgba(86, 29, 96, 0.5)), url(imgs\PC.jpg);


}

footer,header { /* set header and footer in the middle */
    padding: 2em;
    text-align: center;
}

footer p {   /* set font in the footer as bold */
    font-weight: bold;
}

body { /* center all element in the page and change the font */
    font-family: calibri;
    text-align: center;
}

#hdr { /* set color in the header */
    background-color: #9C27B0;
}

body #members{ /* set the member images in grid view */
display: grid;
grid-template-columns: 50% 50%; 
}

#pc { /* set the image of desktop to blur */
    filter: blur(5px);
}

article img { /* resize the image of desktop */
    width: 55%;
}

.welcome { /* place the welcome text on the image */
    -webkit-filter: drop-shadow(1px 1px 20px black);   /* set a shadow for "Welcome to our website" */
    position: absolute;
    font-size: 30px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.memimgs {    /* resize the images of the members */
    width: 15%;
    height: -15%;
}

 .mem {  /*set color background to the box */
    background-color: #DABCDA;
    margin: 10px;
    padding: 10px;
}

.mem p { /* change the shape of LIKE to button */
    cursor: pointer;
    background-color: #80DEEA;
    border-radius: 0.5em;
    font-weight: bold;
    text-align: center;
    width: 30px;
    padding: 15px;
    border-style: outset;
    font-size: 15px;
    margin: 0 ;
}



#members { /* set size of the boxes */
    margin: 10px;
    padding: 10px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
